
.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    width: 765px;
    height: 474px;
}

.card-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.card-body {
    background-image: url("../public/images/card-image.jpeg");
    height: 500px;
}