
.patient-status-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.patient-input label {
    width: 220px;
}

.patient-input input {
    width: 220px;
    text-align: justify;
}

.patient-input input[type="submit"] {
    width: 250px;
    text-align: center;
    font-size: 17px;
    padding: 4px 20px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}

.patient-label {
    margin-right: 271px;
}